.container_TypePage {
    background-color: #efefef;
}

.wrapper_layout {
    padding: 0 120px;
    padding-top: 30px;
    flex-wrap: nowrap;
}

.col_item {
    background-color: #fff;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.col_item>.navbar {
    padding-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.product-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.product-item>.cart {
    padding: 20px 0;
}